In [34]:
import pandas as pd
import numpy as np

In [35]:
df = pd.read_csv('Crop_recommendation.csv')

In [36]:
df

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [37]:
df.size

17600

In [38]:
df.shape

(2200, 8)

In [39]:
df.dropna()

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [40]:
df.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [41]:
df['label'].unique()

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [42]:
df.dtypes

N                int64
P                int64
K                int64
temperature    float64
humidity       float64
ph             float64
rainfall       float64
label           object
dtype: object

In [43]:
df['label'].value_counts()

jute           100
banana         100
mothbeans      100
rice           100
papaya         100
orange         100
coffee         100
cotton         100
grapes         100
blackgram      100
lentil         100
muskmelon      100
maize          100
mango          100
pigeonpeas     100
watermelon     100
chickpea       100
apple          100
kidneybeans    100
coconut        100
pomegranate    100
mungbean       100
Name: label, dtype: int64

In [44]:
from sklearn.preprocessing import OneHotEncoder

In [45]:
onehot = OneHotEncoder()

In [46]:
result = onehot.fit_transform(df[['label']])

In [47]:
print(result)

  (0, 20)	1.0
  (1, 20)	1.0
  (2, 20)	1.0
  (3, 20)	1.0
  (4, 20)	1.0
  (5, 20)	1.0
  (6, 20)	1.0
  (7, 20)	1.0
  (8, 20)	1.0
  (9, 20)	1.0
  (10, 20)	1.0
  (11, 20)	1.0
  (12, 20)	1.0
  (13, 20)	1.0
  (14, 20)	1.0
  (15, 20)	1.0
  (16, 20)	1.0
  (17, 20)	1.0
  (18, 20)	1.0
  (19, 20)	1.0
  (20, 20)	1.0
  (21, 20)	1.0
  (22, 20)	1.0
  (23, 20)	1.0
  (24, 20)	1.0
  :	:
  (2175, 5)	1.0
  (2176, 5)	1.0
  (2177, 5)	1.0
  (2178, 5)	1.0
  (2179, 5)	1.0
  (2180, 5)	1.0
  (2181, 5)	1.0
  (2182, 5)	1.0
  (2183, 5)	1.0
  (2184, 5)	1.0
  (2185, 5)	1.0
  (2186, 5)	1.0
  (2187, 5)	1.0
  (2188, 5)	1.0
  (2189, 5)	1.0
  (2190, 5)	1.0
  (2191, 5)	1.0
  (2192, 5)	1.0
  (2193, 5)	1.0
  (2194, 5)	1.0
  (2195, 5)	1.0
  (2196, 5)	1.0
  (2197, 5)	1.0
  (2198, 5)	1.0
  (2199, 5)	1.0

In [48]:
df1 = df.join(pd.DataFrame(result.toarray(), columns = onehot.categories_))

In [49]:
df1

,N,P,K,temperature,humidity,ph,rainfall,label,"(apple,)","(banana,)",...,"(mango,)","(mothbeans,)","(mungbean,)","(muskmelon,)","(orange,)","(papaya,)","(pigeonpeas,)","(pomegranate,)","(rice,)","(watermelon,)"
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,107,34,32,26.774637,66.413269,6.780064,177.774507,coffee,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2196,99,15,27,27.417112,56.636362,6.086922,127.924610,coffee,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2197,118,33,30,24.131797,67.225123,6.362608,173.322839,coffee,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2198,117,32,34,26.272418,52.127394,6.758793,127.175293,coffee,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2199,104,18,30,23.603016,60.396475,6.779833,140.937041,coffee,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
df1.dropna()

,N,P,K,temperature,humidity,ph,rainfall,label,"(apple,)","(banana,)",...,"(mango,)","(mothbeans,)","(mungbean,)","(muskmelon,)","(orange,)","(papaya,)","(pigeonpeas,)","(pomegranate,)","(rice,)","(watermelon,)"
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,107,34,32,26.774637,66.413269,6.780064,177.774507,coffee,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2196,99,15,27,27.417112,56.636362,6.086922,127.924610,coffee,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2197,118,33,30,24.131797,67.225123,6.362608,173.322839,coffee,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2198,117,32,34,26.272418,52.127394,6.758793,127.175293,coffee,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2199,104,18,30,23.603016,60.396475,6.779833,140.937041,coffee,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
df1.drop_duplicates()

,N,P,K,temperature,humidity,ph,rainfall,label,"(apple,)","(banana,)",...,"(mango,)","(mothbeans,)","(mungbean,)","(muskmelon,)","(orange,)","(papaya,)","(pigeonpeas,)","(pomegranate,)","(rice,)","(watermelon,)"
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,107,34,32,26.774637,66.413269,6.780064,177.774507,coffee,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2196,99,15,27,27.417112,56.636362,6.086922,127.924610,coffee,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2197,118,33,30,24.131797,67.225123,6.362608,173.322839,coffee,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2198,117,32,34,26.272418,52.127394,6.758793,127.175293,coffee,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2199,104,18,30,23.603016,60.396475,6.779833,140.937041,coffee,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
df1.drop(["label"], axis=1)

,N,P,K,temperature,humidity,ph,rainfall,"(apple,)","(banana,)","(blackgram,)",...,"(mango,)","(mothbeans,)","(mungbean,)","(muskmelon,)","(orange,)","(papaya,)","(pigeonpeas,)","(pomegranate,)","(rice,)","(watermelon,)"
0,90,42,43,20.879744,82.002744,6.502985,202.935536,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,85,58,41,21.770462,80.319644,7.038096,226.655537,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,60,55,44,23.004459,82.320763,7.840207,263.964248,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,74,35,40,26.491096,80.158363,6.980401,242.864034,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,78,42,42,20.130175,81.604873,7.628473,262.717340,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,107,34,32,26.774637,66.413269,6.780064,177.774507,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2196,99,15,27,27.417112,56.636362,6.086922,127.924610,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2197,118,33,30,24.131797,67.225123,6.362608,173.322839,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2198,117,32,34,26.272418,52.127394,6.758793,127.175293,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2199,104,18,30,23.603016,60.396475,6.779833,140.937041,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [54]:
df1.size

66000

In [55]:
df1.shape

(2200, 30)

In [56]:
df1.columns

Index([             'N',              'P',              'K',    'temperature',
             'humidity',             'ph',       'rainfall',          'label',
             ('apple',),      ('banana',),   ('blackgram',),    ('chickpea',),
           ('coconut',),      ('coffee',),      ('cotton',),      ('grapes',),
              ('jute',), ('kidneybeans',),      ('lentil',),       ('maize',),
             ('mango',),   ('mothbeans',),    ('mungbean',),   ('muskmelon',),
            ('orange',),      ('papaya',),  ('pigeonpeas',), ('pomegranate',),
              ('rice',),  ('watermelon',)],
      dtype='object')

In [57]:
df1.dtypes

N                   int64
P                   int64
K                   int64
temperature       float64
humidity          float64
ph                float64
rainfall          float64
label              object
(apple,)          float64
(banana,)         float64
(blackgram,)      float64
(chickpea,)       float64
(coconut,)        float64
(coffee,)         float64
(cotton,)         float64
(grapes,)         float64
(jute,)           float64
(kidneybeans,)    float64
(lentil,)         float64
(maize,)          float64
(mango,)          float64
(mothbeans,)      float64
(mungbean,)       float64
(muskmelon,)      float64
(orange,)         float64
(papaya,)         float64
(pigeonpeas,)     float64
(pomegranate,)    float64
(rice,)           float64
(watermelon,)     float64
dtype: object

In [60]:
df2 = df1.drop(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall',"label"], axis=1)

In [61]:
df2

,"(apple,)","(banana,)","(blackgram,)","(chickpea,)","(coconut,)","(coffee,)","(cotton,)","(grapes,)","(jute,)","(kidneybeans,)",...,"(mango,)","(mothbeans,)","(mungbean,)","(muskmelon,)","(orange,)","(papaya,)","(pigeonpeas,)","(pomegranate,)","(rice,)","(watermelon,)"
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2196,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2197,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2198,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2199,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [62]:
from mlxtend.preprocessing import TransactionEncoder

In [63]:
encoder = TransactionEncoder().fit(df2)

In [64]:
onehot1 = encoder.transform(df2)

In [65]:
onehot2 = pd.DataFrame(onehot1,columns = encoder.columns_)

In [66]:
onehot2

,apple,banana,blackgram,chickpea,coconut,coffee,cotton,grapes,jute,kidneybeans,...,mango,mothbeans,mungbean,muskmelon,orange,papaya,pigeonpeas,pomegranate,rice,watermelon
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2196,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2197,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2198,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2199,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [71]:
import scipy.spatial

In [72]:
jaccard = scipy.spatial.distance.cdist(onehot2, onehot1, metric = 'jaccard')

In [73]:
jaccard

array([[0., 1., 1., ..., 1., 1., 1.],
       [1., 0., 1., ..., 1., 1., 1.],
       [1., 1., 0., ..., 1., 1., 1.],
       ...,
       [1., 1., 1., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.]])

In [75]:
jaccarddis = pd.DataFrame(jaccard,columns=onehot2.index.values,index=onehot2.index.values)

In [76]:
jaccarddis

,0,1,2,3,4,5,6,7,8,9,...,2190,2191,2192,2193,2194,2195,2196,2197,2198,2199
0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2196,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2197,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2198,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2199,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [77]:
from scipy.spatial import distance

In [78]:
man_Dist0 = distance.cityblock(jaccarddis[0],1)
man_Dist1 = distance.cityblock(jaccarddis[1],1)
man_Dist2 = distance.cityblock(jaccarddis[2],1)
man_Dist3 = distance.cityblock(jaccarddis[3],1)
man_Dist4 = distance.cityblock(jaccarddis[4],1)

In [79]:
print(man_Dist0)
print(man_Dist1)
print(man_Dist2)
print(man_Dist3)
print(man_Dist4)

1.0
1.0
1.0
1.0
1.0

In [81]:
print(onehot2.mean())

apple          0.000455
banana         0.000455
blackgram      0.000455
chickpea       0.000455
coconut        0.000455
coffee         0.000455
cotton         0.000455
grapes         0.000455
jute           0.000455
kidneybeans    0.000455
lentil         0.000455
maize          0.000455
mango          0.000455
mothbeans      0.000455
mungbean       0.000455
muskmelon      0.000455
orange         0.000455
papaya         0.000455
pigeonpeas     0.000455
pomegranate    0.000455
rice           0.000455
watermelon     0.000455
dtype: float64

In [82]:
from mlxtend.frequent_patterns import apriori

In [87]:
frequent_itemset=apriori(onehot2,min_support=0.00003,max_len=22,use_colnames=True)

In [88]:
print(frequent_itemset)

     support       itemsets
0   0.000455        (apple)
1   0.000455       (banana)
2   0.000455    (blackgram)
3   0.000455     (chickpea)
4   0.000455      (coconut)
5   0.000455       (coffee)
6   0.000455       (cotton)
7   0.000455       (grapes)
8   0.000455         (jute)
9   0.000455  (kidneybeans)
10  0.000455       (lentil)
11  0.000455        (maize)
12  0.000455        (mango)
13  0.000455    (mothbeans)
14  0.000455     (mungbean)
15  0.000455    (muskmelon)
16  0.000455       (orange)
17  0.000455       (papaya)
18  0.000455   (pigeonpeas)
19  0.000455  (pomegranate)
20  0.000455         (rice)
21  0.000455   (watermelon)